body {
  margin: 0;
  display: flex; /* Використовуємо flexbox для центрування */
  flex-direction: column; /* Вирівнюємо елементи по вертикалі */
  align-items: center; /* Центруємо елементи по горизонталі */
  background-color: rgb(239, 235, 244);
}

.inputbox {
  padding: 20px;
}
.selection-box {
  position: absolute;
  border: 1px dashed #000;
  background-color: rgba(0, 0, 0, 0.1);
  pointer-events: none;
  display: none; /* Приховано за замовчуванням */
}

.letter {
  display: inline-block;
  padding: 5px;
  border: 1px solid #a994f4;
  margin: 2px;
  cursor: pointer;
  user-select: none;
  border-radius: 5px;
  color: #130645;
}

.selected {
  background-color: #2b00ff;
}

.letter.selected {
  border: 1px solid red;
  color: azure;
}

#output {
  margin-top: 20px;
  border: none;
  min-height: 50px;
  padding: 10px;
}

#textInput {
  height: 30px; /* Збільшуємо висоту поля вводу */
  font-size: 16px; /* Збільшуємо розмір шрифту для кращого вигляду */
  padding: 5px; /* Додаємо внутрішні відступи */
  border-radius: 5px;
  background-color: rgb(239, 235, 244); /* Основний фон */
  border: 0.5px solid rgb(112, 112, 191);
}

#textInput:focus {
  border-color: aqua; /* Колір межі при фокусі */
}

#textInput:hover {
  background-color: #e6f7ff; /* Інший фон при наведенні курсора */
}

#applyButton {
  background-color: rgb(112, 112, 191);
  height: 40px; /* Збільшуємо висоту кнопки для відповідності */
  font-size: 16px; /* Збільшуємо розмір шрифту кнопки */
  cursor: pointer; /* Змінюємо курсор при наведенні */
  border-radius: 5px;
}

#applyButton:hover {
  color: aquamarine;
}

#applyButton:active {
  color: crimson;
}
