.selection-box {
  position: absolute;
  border: 1px dashed #000;
  background-color: rgba(0, 0, 0, 0.1);
  pointer-events: none;
  display: none; /* Приховано за замовчуванням */
}

.letter {
  display: inline-block;
  padding: 5px;
  border: 1px solid #000;
  margin: 2px;
  cursor: pointer;
  user-select: none;
}

.selected {
  background-color: yellow;
}

.letter.selected {
  border: 1px solid red;
}

#output {
  margin-top: 20px;
  border: 1px solid black;
  min-height: 50px;
  padding: 10px;
}

#dropArea {
  margin-top: 20px;
  padding: 10px;
  border: 2px dashed #333;
  min-height: 100px;
}
